body{
    background-color: #8B008B;
    font: inherit;
    color: white;
    text-transform: uppercase;
}

.main{
    margin: 0 auto;
}

label{
    text-align: center;
}

input{
    width: 100%;
}

.button{
    text-align: center;
}

button{
    outline: none;
}

.list{
    font-size: 0.7rem;
}