<body>
  <div class="main">
    <label>
      Mark 1
    </label>
    <br>
    <input type="number" [(ngModel)]="m1" />
    <br>
    <label>
      Mark 2
    </label>
    <br>
    <input type="number" [(ngModel)]="m2" />
    <br>
    <label>
      Mark 3
    </label>
    <br>
    <input type="number" [(ngModel)]="m3" />
    <br>

    <div class="button">
      <button (click)="sum()">Calculate Total</button>
    </div>

    <div *ngIf="result">
      The result is {{result}}
    </div>

    <p>Result Types</p>
    <div *ngFor="let type of typesOfResult" class="list">
      {{type | uppercase}}
    </div>

    <p>Today is {{currentDate}}</p>
    <p>Today is {{currentDate | date: "MM/DD/YY"}}</p>
  </div>
</body>